<div class="background-parchment">

    <div class="show-text text-center" s>
      <h1 class="styled-font"><%= @user.username.capitalize %>'s Page!</h1>
    </div>
    <div class="layout-user">
      <div class="user-info">
        <div>
          <% if @user.picture.present? %>
            <%= image_tag @user.picture.url %>
          <% else %>
            <%= image_tag('male-human-fighter.jpg') %>
          <% end %>
        </div>
        <div id="about">

        </div>
      </div>
      <%= render 'shared/char_scroll_display'%>
      <%= render 'shared/story_scroll_display'%>
      <%= render 'shared/table_scroll_display'%>
    </div>

</div>





