<%= render 'shared/navbar' %>
<div  class="wrapper" style="background-image: url(<%= image_url("tome-page.jpg") %>); background-size: cover; padding-bottom: 16px; min-height: 100vh;"> >

    <!-- Text Goes here -->
    <div class="show-text text-center" s>
      <h1 class="styled-font"><%= @user.username.capitalize %>'s Page!</h1>
    </div>
    <div style="width:90vw; margin: 0 auto;">
    <%= render  partial: 'shared/char_scroll_display'%>
    <%= render  partial: 'shared/story_scroll_display'%>
    <%= render  partial: 'shared/table_scroll_display'%>
    </div>

</div>





