<div class="pt-5">
  <h3 class="styled-font"><%= "#{@user.username.capitalize}'s Characters" %></h3>
  <div class="scroll-container d-flex">
    <% if current_user == @user %>
      <%= link_to new_character_path do %>
      <div class="scroll-container-item" style="background-image: url(<%= image_url("vitruvian.png") %>);">
        <p>New</p>
      </div>
      <% end %>
    <% end %>
    <% @user.characters.each do |char| %>
      <%= link_to character_path(char) do  %>
      <div class="scroll-container-item" style="background-image: url(
        <%= if char.picture.present?
              image_url(char.picture)
            else
              char.gender.gender == 'male' ? image_url('male-human-fighter.jpg') : image_url('female-human-fighter.png')
            end %>); background-size: center; background-repeat: no-repeat;">
      <%= char.name  %>
      </div>
      <% end %>
    <% end  %>
  </div>
</div>

