<div class="pt-5">
  <h3 class="styled-font"><%= "#{@user.username.capitalize}'s Tables" %></h3>
  <div class="scroll-container d-flex">
    <% if current_user == @user %>
      <%= link_to new_character_path do %>
      <div class="scroll-container-item" style="background-image: url(<%= image_url("dice.jpg") %>);">
        <p>New</p>
      </div>
      <% end %>
    <% end %>
    <% @user.tables.reverse.each do |table| %>
      <%= link_to character_path(table) do  %>
      <div class="scroll-container-item" style="background-image: url(<%= if table.picture.present?
            image_url(table.picture)
              else
            image_url('tavern.jpg')
            end %>);">
      <%= table.name  %>
      </div>
      <% end %>
    <% end  %>
  </div>
</div>

