<div class="background-parchment">
  <div class="layout-story">
    <div class="layout-story-background">
      <div class="book">
        <div class="title-image">
          <%= simple_form_for @story do |f| %>
            <%= f.input :title, hint: "Max of 50 characters" %>
            <%= f.input :picture %>
            <%= f.input :synopsis, hint: "Max of 1000 characters" %>
        </div>
        <div class="chapter">
            <%= f.input :content, label: false, input_html: {rows: 5} %>
            <%= f.button :submit, class: "dbtn-ghost" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


